@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fff4fd;
  --foreground: #171717;
}

.dark {
  --background: #0f172a;
  --foreground: #f3f4f6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}